html{
   height: 100%;
   width:100%
 }

body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
   height: 100%;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */

#main-container-div{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
   width: 100%;
 }

 .orange-button{
   background-color: orange;
   padding: 8px 5px;
   color:black;
   font-family: 'Josefin Sans';
   font-size: 14px;
   margin-left: 10px
}

.postButtons{
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
 }

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.5);
   justify-content: center;
   align-items: center;
   color: black;
 }
 .modal-head {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
 }

 .close-btn {
   position: absolute;
   right: 0;
   font-size: 32px;
   font-weight: bold;
   cursor: pointer;
 }

 .modal-title{
   align-self: center;
   font-family: Abel;
 }

 form {
   display: flex;
   flex-direction: column;
 }
 
 .label-text {
   font-weight: bold;
   margin: 10px 0;
   font-family: Abel;
 }

 input {
   padding: 10px;
   outline: none;
   font-family: Abel;
 }

 textarea{
   margin-top: 10px;
 }

 .create-btn{
   margin-top: 15px;
   background-color: green;
   font-size: 14px;
   width:100px;
   color: white;
   padding: 10px;
   align-self: center;
   font-family: Abel;
 }

 .post-modal-content{
   background-color: #fefefe;
   margin: auto;
   padding: 0px 20px;
   border: 1px solid #999;;
   width: 50%;
   height: 80%;
 }

/* sign modals */

 .sign-modal-content{
   background-color: #fefefe;
   margin: auto;
   padding: 0px 20px 10px 20px;
   border: 1px solid #999;
   width: 20%;
 }

 .sign-close-btn {
   display: flex;
   align-self: flex-end;
   font-size: 32px;
   font-weight: bold;
   cursor: pointer;
 }

 .sign-btn {
   background-color: green;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 16px;
   margin-top: 10px;
   cursor: pointer;
   font-family: Abel;
 }

 .signup{
   color: blue;
   font-weight: bolder;
   margin-left: 10px;
   cursor: pointer;
   font-family: Abel;
 }

 
 .modal-bottom-text{
    font-family: Abel;
    text-align: center;
    font-weight: bold;
 }